package layouts

import "alex-dna-tech/goth/views/components"

// Fix templ runtime
// import "github.com/a-h/templ/runtime"
// var _ = runtime.DefaultBufferSize
templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>GoTH | { title }</title>
			<link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/public/main.css"/>
			<script src="/public/main.js" defer></script>
		</head>
		<body>
			<div class="container mx-auto my-2">
				@components.Navigation(title)
				<main>
					{ children... }
				</main>
			</div>
		</body>
	</html>
}

templ Page(title string) {
	@Base(title) {
		<article class="prose mx-auto">
			<h1>{ title }</h1>
			{ children... }
		</article>
	}
}
