package layouts

import (
"alex-dna-tech/goth/views/components"
)

templ Base(title string) {
<!DOCTYPE html>
<html lang="en">

<head>
  <title>GOTHSTARTER</title>
  <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/main.css" />
  <script src="/public/htmx.min.js" defer></script>
  <!-- <script src="https://unpkg.com/htmx.org@1.9.9" defer></script> -->
  <script src="/public/main.js" defer></script>
</head>

<body class="antialiased">
  @components.Navigation(title)
  <main class="container mx-auto my-2">
    { children... }
  </main>
</body>

</html>
}
