package pages

import "alex-dna-tech/goth/views/layouts"

templ About(title string) {
	@layouts.Page(title) {
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, doloribus.
		</p>
	}
}
